<app-login *ngIf="formLogin" (formClose)="onSubmitClose()" (formPassword)="onSubmitRegister()"></app-login>
<app-register *ngIf="formPassword" (formClose)="onSubmitClose()" (formLogin)="onSubmitLogin()"></app-register>

<div class="header">
    <div class="header-position">
        <div class="header__left-part">
            <div class="header__logo">
                <img src="assets/img/Recipes.svg" alt="Logo" (click)="onSubmitRedirection('')">
            </div>
            <div class="header__menu">
                <div (click)="onSubmitRedirection('')">Главная</div>
                <div (click)="onSubmitRedirection('recipes')">Рецепты</div>
                <div (click)="onSubmitRedirection('')">Избранное</div>
            </div>
        </div>
        <div class="header__right-part">
            <div class="header__img-style"><img src="assets/img/Avatar.svg" alt="Avatar"></div>
            <div class="Log-In" *ngIf="userName !== ''">
                <div class="header__text">Привет, {{userName}}</div>
                <div><img class="header__exit" src="assets/img/Exit.svg" alt="Exit" (click)="onSubmitExit()"></div>
            </div>
            <div class="Log-Out" *ngIf="userName == ''">
                <div class="header__text" (click)="onSubmitLogin()">Войти</div>
            </div>
        </div>
    </div>
</div>
