.header {
    display: flex;
    justify-content: center;
}

.header-position {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1202px;
    width: 100%;

    .header__left-part {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 523px;
        width: 100%;

        .header__logo {
            width: 99px;
            height: 29px;
        }

        .header__menu {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            max-width: 345px;
            width: 100%;

            div {
                font-family: 'Montserrat', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #9196A1;
            }
        }
    }

    .header__right-part {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        max-width: 278px;
        width: 100%;
        position: relative;
        top: -3px;

        .header__img-style {
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            height: 38px;

            img {
                padding: 11px;
                background: #FDB100;
            }
        }

        .header__text {
            font-family: 'Montserrat', serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FDB100;
        }

        .header__exit {
            height: 18px;
            padding-left: 26px;
            border-left: 1px #FDB100 solid;
            align-items: center;
            position: relative;
            top: 3px;
        }
    }
}

.recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
